/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Tutorial Case

   Jumbo Popcorn Style Sheet

   Filename:         jp.css
   Supporting Files: 

*/

/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}


/* Set the default page element styles */

body * {

   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   list-style: none;
   margin: 0px;
   padding: 14px;
   text-decoration: none;
   vertical-align: baseline;
}



/* Body Styles */
body {
   background-image: linear-gradient(to bottom right, white, blue);
   width: 80%;
   min-width: 900px;
   max-width: 1100px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
}



/* Header Styles */

header {
   width: 100%;
  
}

header img{
  
   padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 20px;

}
 
header nav {
   position: absolute;
   left: 100px;
   top: 170px;
   width: 90%;
   z-index: 2;
}

header nav ul li {

   display: block; 
   float: left; 
   width: 16%;
   margin: 0px 2px;
   text-align: center;
}

header nav ul li a {
   display: block;
   border: 1px solid black;
   width: 100%;
   background-color: rgb(162, 112, 41);
   color: white;
}

header nav ul li a:hover {
   color: black;
}

header h1 {
   clear: left;
   width: 100%;
   font-size: 1.4em;
   letter-spacing: 3px;
   font-weight: bold;
   margin-left: 54%;
   margin-top: 6%;
}

header video {
   clear: left;
   width: 100%;
   margin-left: 14%;
   margin-top: 3%;
}


/* Section Styles */
section {
   position: relative;
   left: 28%;

 
  	
}


section article h2 {
   margin: 0px 0px 15px 0px;
   font-weight: normal;
   text-align: center;

   color:  white;
   background-color: rgb(162, 112, 41);

   -moz-border-radius-topleft: 30px;
   -webkit-border-top-left-radius: 30px;
   border-top-left-radius: 30px;

   -moz-border-radius-topright: 30px;
   -webkit-border-top-right-radius: 30px;
   border-top-right-radius: 30px;


   font-size: 1.3em;
   letter-spacing: 5px;
   line-height: 2em;
}

section article {
   background-color: white;
   width: 110%;
   border: 3px  solid rgb(162, 112, 41);

   -moz-border-radius:  30px;
   -webkit-border-radius:  30px;
   border-radius: 30px;

   margin-bottom: 20px;
}

section article p {
   font-size: 1.3em;
   margin: 15px;
}


img#photo1 {
   display: block;
   width: 200px;
   margin: 0px;
}


figure {
   position: relative;
   margin-left:2%;
  
}

figure img {
   display: block;
   width: 90%;
   margin: 0px auto;
}

figure figcaption {
   font-size: 12px;
   font-style: italic;
   line-height: 12px;
   text-align: center;
   padding: 5px 0px;
}

figure#photo2 {
   margin-left: 1%;
   left: 1px;
}

figure#photo3 {
   top: 245px;
   left: 530px;
}

figure#photo4 {
   top: 545px;
   left: 105px;;
}

figure#photo5 {
   top: 545px;
   left: 455px;
}





/* Middle Section Styles */
section.middle {
   width:  30%;
   float: left;
   margin-left: 1%;
}





/* Right Section Styles */
section.right {
   width: 30%;
   float: right;
   margin-right: 28%;
} 







